<div class="mat-elevation-z2 details-side-bar">
  <h3>Quick Facts</h3>
  <div class="quick-facts-group">
    <div class="quick-facts-group--header">
      <span>Status</span>
      <mat-icon>open_in_new</mat-icon>
    </div>
    <div class="quick-facts-group-content">
      <mat-icon class="color-yellow">account_box</mat-icon>
      <div>
        <div>ID: SH051545</div>
        <div>Tier: Gold</div>
        <div>Pts: 125,024</div>
      </div>
    </div>
  </div>
  <div class="quick-facts-group">
    <div class="quick-facts-group--header">
      <span>Top 3 Facts</span>
      <mat-icon>open_in_new</mat-icon>
    </div>
    <div class="quick-facts-group-content">
      <mat-icon>info</mat-icon>
      <div>
        <div>Suite Room</div>
        <div>King Bed</div>
        <div>Highest Floor</div>
      </div>
    </div>
  </div>
  <div class="quick-facts-group">
    <div class="quick-facts-group--header">
      <span>RFM Score</span>
      <mat-icon>open_in_new</mat-icon>
    </div>
    <div class="quick-facts-group-content v-centered">
      <app-percentage-chart
        value="80"
        strokeColor="#03A9F4"
        strokeWidth="4.5"
        size="30px"
        fontSize="11"
        margin="0 15px 0 0">
      </app-percentage-chart>
      <div class="flex-between">
        <span>R: 70%</span>
        <span>F: 50%</span>
        <span>M: 90%</span>
      </div>
    </div>
  </div>
  <div class="quick-facts-group">
    <div class="quick-facts-group--header">
      <span>Other Facts</span>
      <mat-icon>open_in_new</mat-icon>
    </div>
    <div class="quick-facts-group-content v-centered h-grid">
      <mat-icon class="color-gray" svgIcon="calendar-custom"></mat-icon>
      <span> Total Stays: </span>
      <span> 24 </span>
    </div>
    <div class="quick-facts-group-content v-centered h-grid">
      <mat-icon class="color-gray" svgIcon="moon-custom"></mat-icon>
      <span> Nights: </span>
      <span> 32 </span>
    </div>
    <div class="quick-facts-group-content v-centered h-grid">
      <mat-icon class="color-gray" svgIcon="bed-custom"></mat-icon>
      <span> Avg Stay: </span>
      <span> 1.33 nights </span>
    </div>
    <div class="quick-facts-group-content v-centered h-grid">
      <mat-icon class="color-gray" svgIcon="arrow-calendar-custom"></mat-icon>
      <span> Last Visit: </span>
      <span> 2018-08-15 </span>
    </div>
    <div class="quick-facts-group-content v-centered h-grid">
      <mat-icon class="color-gray" svgIcon="money-custom"></mat-icon>
      <span> Lifetime Value: </span>
      <span> $3084.29 </span>
    </div>
  </div>
</div>
