<div class="details-right-content">
  <h2>Profile Detail</h2>
  <div class="details-right-content--main mat-elevation-z1">
    <div class="detail-item">
      <div class="detail-item-title">
        Prefix
      </div>
      <div class="detail-item-text">
        {{profile.prefix | custom:',' || '-'}}
      </div>
      <div class="detail-item-icon">
        <mat-icon>create</mat-icon>
      </div>
    </div>
    <div class="detail-item">
      <div class="detail-item-title">
        First Name
      </div>
      <div class="detail-item-text">
        {{profile.first_name || '-'}}
      </div>
      <div class="detail-item-icon">
        <mat-icon>create</mat-icon>
      </div>
    </div>
    <div class="detail-item">
      <div class="detail-item-title">
        Last Name
      </div>
      <div class="detail-item-text">
        {{profile.last_name || '-'}}
      </div>
      <div class="detail-item-icon">
        <mat-icon>create</mat-icon>
      </div>
    </div>
    <div class="detail-item">
      <div class="detail-item-title">
        Suffix
      </div>
      <div class="detail-item-text">
        {{profile.suffix || '-'}}
      </div>
      <div class="detail-item-icon">
        <mat-icon>create</mat-icon>
      </div>
    </div>
    <div class="detail-item">
      <div class="detail-item-title">
        Loyalty Member ID
      </div>
      <div class="detail-item-text">
        {{profile.loyalty_member_id || '-'}}
      </div>
      <div class="detail-item-icon">
        <mat-icon>create</mat-icon>
      </div>
    </div>
    <div class="detail-item">
      <div class="detail-item-title">
        Phone
      </div>
      <div class="detail-item-text">
        {{profile.phone | telephoneCustom: '+31':true || '-'}}
      </div>
      <div class="detail-item-icon">
        <mat-icon>create</mat-icon>
      </div>
    </div>
    <div class="detail-item">
      <div class="detail-item-title">
        Address
      </div>
      <div class="detail-item-text">
        {{profile.address || '-'}}
      </div>
      <div class="detail-item-icon">
        <mat-icon>create</mat-icon>
      </div>
    </div>
    <div class="detail-item">
      <div class="detail-item-title">
        Birthdate
      </div>
      <div class="detail-item-text">
        {{profile.birthdate | date:"yyyy-MM-dd" || '-'}}
      </div>
      <div class="detail-item-icon">
        <mat-icon>create</mat-icon>
      </div>
    </div>
    <div class="detail-item">
      <div class="detail-item-title">
        Language Preference
      </div>
      <div class="detail-item-text">
        English
      </div>
      <div class="detail-item-icon">
        <mat-icon>create</mat-icon>
      </div>
    </div>
  </div>
</div>
